@{
    ViewData["Title"] = "Upload Page";
    Layout = null;
}


<form asp-controller="Epin" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">

    <input type="file" name="FileToUpload" />
    <input type="text" name="SecretKey" />
    <button type="submit">Upload File (model)</button>
</form>